/* some simple css style */
body {
  font: arial, sans-serif;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* .LetterButton {
  width: 20px;
  height: 20px;
} */

.TextFadeInAndOut {
  width: 300px;
  height: 20px;
  -webkit-animation: fadeinout 2s linear forwards infinite;
  animation: fadeinout 2s linear forwards infinite;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  /* cursor: ew-resize; */
  background: #f0ad4e;
  /* box-shadow: -5px 0 0 5px #43e5f7; */
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #f0ad4e;
  margin-top: -1px;
}
input[type="range"]::-moz-range-thumb {
  background: #f0ad4e;
}
input[type="range"]::-ms-thumb {
  background: #f0ad4e;
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #f0ad4e;
}
input[type="range"]::-moz-range-track {
  background-color: #f0ad4e;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #f0ad4e;
}
input[type="range"]::-ms-fill-upper {
  background-color: #f0ad4e;
}
